*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gym_background {
    background-image: url("images/background_image.jpg");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;   
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    /* background-position: center; */
    color: #fff;
    /* margin-top: 60px; */
}

.gym_background .navbar{
    /* margin-bottom: auto; */
}

.gym_background p{
    font-size: medium;
    /* margin-top: 30px; */
}

.gym_background p > span{
    padding-top: 10px;
}

.gym_background span{
    display: block;
    padding-left: 35px;
    padding-left: 90px;
}

.about_company .first_image{
    border-right: 25px;
    border-image: 30px;
    width: 500px;
}

.about_company{
    margin: 30px;
}

.about_company .about_us{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    /* margin-bottom: 40px; */
}

.about_company .about_us h2{
    color: purple;
    padding: 20px;
}

.about_company .about_us h1{
     padding: 15px;
     font-weight: bolder;
}

.about_company .about_us p{
    padding: 20px;
    /* line-height: 1.5rem; */
    /* margin-bottom: 20px; */
}

.about_company .about_us a{
    text-decoration: none;
    /* margin-left: 10px; */
    background-color:blueviolet;
    background-image: linear-gradient(to right, purple,blue,white);
    color: #fff;
    font-size: smaller;
}

.about_company .about_us .link{
    padding: 25px;
}

.about_company .about_us a:hover{
    background-image: linear-gradient(to right, white, purple, blue);
}

.company_card {
   background-color:aliceblue;   
}

.company_card{
   padding: 50px 15px 50px 15px;
}

.paragraphs{
    font-size:smaller;
    /* line-height: 1.5rem; */
    color: gray;
    padding-bottom: 40px;
}

.paragraphs .second_paragraph{
    padding-left: 132px;
}

.small_cards{
    padding: 20px;
}

.company_card h1{
    padding: 20px;
}

.top_section .image_one{
    background-image: url("images/first_image.jpg");
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 50vh; */
    padding-top: 10px;
    padding-left: 20px;
}

.top_section .image_one p{
    background-color: grey;
    padding: 12px;
    border-radius: 20px;
}

.top_section .image_one h3{
    color: gray;
    /* margin-right: auto; */
    font-size:x-large;
    /* margin-bottom: 80px; */
}

.top_section .image_one h1{
    display: flex;
    /* margin-right: auto; */
    color: gray;
}

.top_section .image_one h1, h3{
    /* line-height: 4px; */
}

.fa-heart{
    color: yellowgreen;
}

.bottom_section{
    padding: 25px;
    background-color: #fff;
}

.bottom_section h3{
    color:purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bottom_section p{
    color: gray;
    /* margin-top: 30px; */
    font-size: medium;
    /* margin-bottom: 25px; */
}

.bottom_section .fee{
    color: palevioletred;
}

.top_section .image_two{
background-image: url("images/second_image.jpg");
display: flex;
background-size: cover;
background-repeat: no-repeat;
justify-content: center;
align-items: center;
flex-direction: column;
/* height: 50vh; */
}

.top_section .image_two > div{
    color: gray;
    /* margin-bottom: 70px */
}

.top_section .image_three{
    background-image: url("images/third_image.jpg");
    display: flex;
    background-size: cover;
    background-repeat: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 50vh; */
}

.top_section .image_three h1{
    color: blue;
    /* margin-bottom: 232px; */
    /* background-image: linear-gradient(to right, white, aquamarine, white, aquamarine, white); */
    border: none;
    border-radius: 30px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1px;
 }

 .top_section .image_three h3{
    color: gray;
 }

 .top_section .image_four{
    background-image: url("images/fourth_image.jpg");
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 50vh; */
 }

 .top_section .image_four p{
    /* margin-bottom: auto; */
    /* margin-right: auto; */
    background-color: gray;
    border-radius: 20px;
    padding: 12px;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .top_section .image_four h1{
    color: lightpink;
    /* margin-bottom: 150px; */
    background-image: linear-gradient(to left, white, gray, white, gray);
    padding: 2px;
    border: none;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .training_image{
    background-image: url("images/training_image.jpg");
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    /* background-position: no-repeat; */
    flex-direction: column;
    /* height: 50vh; */
 }
 
 .training_image h2{
    color: #fff;
 }

 .training_image p{
    /* margin-top: 150px; */
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-right: auto; */
    /* margin-left: 15px; */
    background-image: linear-gradient(to right, white, gray, white);
    padding: 15px;
    border-radius: 25px;
}

.light_boxes{
    display: flex;
    /* margin-top: 30px; */
}

.light_boxes .light_box{
    border: none;
    border-radius: 25px;
}

.light_boxes .light_box h1{
    color: gray;
}

.light_boxes .light_box h5{
    color: gray;
    font-size: x-small;
    /* margin-left: 20px; */
    /* margin-bottom: 5px; */
}

.our_team{
    /* margin-top: 50px; */
    background-color: lightyellow;
    border-radius: 4px;
}

.our_team .box{
    font-family: cursive;
    background-image: linear-gradient(to right, lightpink, lightblue);
}

.our_team .box:hover{
    background-image: linear-gradient(to right, lightblue,lightpink);
}

.our_team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.our_team .box > div{
    color: gray;
    padding-top: 30px;
    padding-bottom: 20px;
    /* margin-left: 250px; */
}

.our_team .box p{
    color: gray;
    padding-left: 15px;
}   

.our_team .box{
    color: gray;
    border-radius: 15px;
    margin-bottom: 50px;
}

.our_team .box h4{
    /* margin-top: 50px; */
    /* margin-left: 40px; */
}

.our_team .box h4 > span{
    display: block;
    padding-bottom: 20px;
}

.footer{
    background-image: linear-gradient(to right, purple,blue, lightpink);
}

.footer:hover{
    background-image: linear-gradient(to right, lightpink, purple, gray, blue, purple);
}

.footer .social_platforms{
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 70px; */
    padding-top: 40px;
}

.line_through{
    /* height: 1px; */
    width: 440px;
    background-color: #dcdcdc;
    /* margin-left: 1px; */
}

.footer .copy_right{
    /* margin-top: 50px; */
    color: #fff;
    display: flex;
    flex-direction: column;
}

.footer .copy_right h6{
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
    padding-top: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer .time{
    /* margin-top: 40px; */
    padding-bottom: 30px;
    color:#fff;
    display: flex;
    justify-content: center;
}

.footer .time h3{
    /* line-height: 1.5rem; */
}

@media screen and (min-width:768px) {
       
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .gym_background {
        background-image: url("images/background_image.jpg");
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;   
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-position: center;
        color: #fff;
        margin: 0;
    }
    
    .gym_background .navbar{
        display: flex;
        height: 100px;
        margin-right: auto;
        margin-top: 4x;
        justify-content: space-between;
        margin-bottom: auto;
        padding-top: 35px;
    }

    .gym_background .navbar .nav a{
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-left: 35px;
    }

    .nav ul{
        display: flex;
    }

    .gym_background .navbar .logo{
        display: flex;
        padding-left: 30px;
        margin-right: 70px;
    }

    .gym_background .navbar .logo h2{
        margin-left: 30px;
    }

    .gym_background h1,
    p{
        display: flex;
        letter-spacing: 5px;
    }

    .gym_background h1{
        display: flex;
    }

    .gym_background h1 > span{
        padding-left: 10px;
    }

    .gym_background p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
        font-weight: bold;
        padding-bottom: 330px;
    }
    
    .gym_background p > span{
        padding-top: 5px;
        padding-left: 8px;
        margin-bottom: 5px;
    }
    
    img{
        width: 100%;
        height: auto;
        border-top-right-radius: 50px;
    }

    .about_company{
        margin: 60px 50px;
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 55px;
    }
    
    .about_company .about_us{
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 70px;
        line-height: 1.2rem;
    }

    .about_company .about_us > div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .about_company .about_us h2{
        padding-left: 29px;
    }
    
    .about_company .about_us h1{
         font-weight: bolder;
         padding-left: 29px;
    }
    
    .about_company .about_us p{
        padding: 15px 30px ;
        line-height: 1.5rem;
        margin-bottom: auto;
        letter-spacing: normal;
    }
    
    .about_company .about_us a{
        text-decoration: none;
        margin-right: auto;
        background-color:blueviolet;
        padding: 18px;
        border-radius: 25px;
        background-image: linear-gradient(to right, purple,blue,white);
        color: #fff;
        font-size: smaller;
    }
    
    .company_card {
       background-color:aliceblue;   
       padding: 25px 15px 50px 15px;
    }
    
    .paragraphs{
        font-size:smaller;
        line-height: 1.5rem;
        color: gray;
        display: flex;
        justify-content: center;
        padding-bottom: 6px;
    }
    
    .paragraphs .second_paragraph{
        padding-left: 6px;
    }

    .grid_cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .small_cards{
        padding: 20px;
        padding-top: 40px;
        height: auto;
    }
    
    .company_card h1{
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    
    .top_section .image_one{
        background-image: url("images/first_image.jpg");
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position: top 30px;
        height: 160px;
    }
    
    .top_section .image_one p{
        background-color: grey;
        opacity: 0.5;
        padding-left: 3px;
        padding: 9px 13px 9px 13px; 
        border-radius: 20px;
        margin-bottom: auto;
        margin-right: auto;
        letter-spacing: normal;
    }
    
    .top_section .image_one h1{
        color: gray; 
        font-size: x-large;
        margin-right: auto;
        padding-left: 4px;
        padding-bottom: 2px;
        font-weight: bolder;
    }
    
    .bottom_section{
        padding: 17px 25px 25px 5px;
        background-color: #fff;
        height: 170px;
    }
    
    .bottom_section h3{
        color:purple;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        /* background-color: green; */
        padding: 0px 5px 0px 5px;
        line-height: 1.5rem;
        font-size: medium;
        font-weight: bold;
    }
    
    .bottom_section h3 > span{
        color: palevioletred;
    }

    .bottom_section p{
        color: gray;
        margin-top: 16px;
        font-size: medium;
        /* padding-bottom: 7px; */
        margin-left: 8px;
        letter-spacing: normal;
        font-size: small;
    }
    
    .bottom_section .fee{
        color: palevioletred;
        margin-left: 8px;
        font-size: small;
        margin-top: 17px;
    }
    
    .top_section .image_two{
    background-image: url("images/second_image.jpg");
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: top 30px;
    height: 160px;
    }
    
    .top_section .image_two h1{
        color: gray;
        padding: 5px;
        padding-bottom: 128px;
        color:#fff;
        font-size: x-large;
        font-weight: bolder;
    }
    
    .top_section .image_three{
        background-image: url("images/third_image.jpg");
        display: flex;
        background-size: cover;
        background-repeat: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position: top 30px;
        height: 160px
    }
    
    .top_section .image_three h1{
        color: white;
        padding: 3px;
        font-size: x-large;
        font-weight: bolder;
        margin-bottom: auto;
     }
    
     .top_section .image_three h3{
        color: gray;
     }
    
     .top_section .image_four{
        background-image: url("images/fourth_image.jpg");
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position: center;
        height: 160px;
     }
    
     .top_section .image_four p{
        margin-bottom: auto;
        margin-right: auto;
        background-color: gray;
        color: white;
        border-radius: 20px;
        padding: 12px;
        margin-top: 10px;
        margin-left: 10px;
        letter-spacing: normal;
        margin-bottom: auto;
        padding: 9px 13px 9px 13px;
        border-radius: 20px;
     }
    
     .top_section .image_four h1{
        color: #fff;
        margin-bottom: 0;
        padding: 3px;
        font-size: x-large;
        font-weight: bolder;
        background-image: none;
        margin-right: 75px;
     }
    
     .training_image{
        background-image: url("images/training_image.jpg");
        display: flex;
        background-size: cover;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        flex-direction: column;
        height: 60vh;
     }
     
     .training_image h2{
        color: #fff;
        font-size: xx-large;
        font-weight: 1000px;
        margin-bottom: auto;
        margin-top: 60px;
     }
    
     .training_image p{
        margin-top: 150px;
        color: #fff;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: auto;
        margin-bottom: 15px;
        margin-left: 15px;
        background-image: linear-gradient(to right, white, gray, white);
        padding: 15px;
        border-radius: 25px;
    }
    
    .light_boxes{
        margin-top: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }
    
    .light_boxes .light_box{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: none;
        border-radius: 0px;
        height: 150px;
    }
    
    .light_boxes .light_box h1{
        color: gray;
        display: flex;
        justify-content: center;
        /* padding-bottom: 80px; */
    }
    
    .light_boxes .light_box h5{
        color: gray;
        font-size: x-small;
        margin-left: 120px;
        margin-top: 10px;
    }
    
    .our_team{
        margin-top: 5px 20px 60px 20px ;
        background-color: lightyellow;
        border-radius: 4px;
        height: 500px;
        padding: 20px 20px 50px 20px;
    }
    
    .our_team .box{
        background-color: white;
        font-family: cursive;
        height: 250px;
        color: gray;
        border-radius: 15px;
        margin-bottom: 40px;
        background-image: none;
    }

    .our_team .box:hover{
        background-image: linear-gradient(to bottom right, blue, lightblue);
    }
    
    .our_team h1{
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
        padding-top: 80px;
        padding-bottom: 20px;
        /* background-color: blue; */
    }

    .our_team .square_boxes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* gap: 2rem; */
        column-gap: 4rem;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .our_team .box > div{
        color: black;
    }

    .our_team .box p{
        color: gray;
        padding-left: 15px;
        letter-spacing: normal;
    }   

    .our_team .box p:hover{
        color: black;
    }
    
    .our_team .box h4{
        margin-top: 10px;
        margin-left: 40px;
    }
    
    .our_team .box h4:hover{
        color: black;
    }

    .our_team .box h4 > span{
        display: block;
        padding-bottom: 20px;
    }

   .our_team .box h4 > span{
        color: white;
    }
    
    .footer{
        background-image: linear-gradient(to right, purple, blue, blueviolet);
        height: 180px;
    }
    
    .footer:hover{
        background-image: linear-gradient(to right, purple, blue, blueviolet);
    }
    
    .footer .social_platforms{
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        padding-top: 10px;
    }
    
    .line_through{
        height: 1px;
        width: 1480px;
        background-color: #dcdcdc;
        margin-left: 1px;
    }
    
    .footer .copy_right{
        margin-top: 50px;
        color: #fff;
        display: flex;
        flex-direction: column;
    }
    
    .footer .copy_right h6{
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        padding-top: 2px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .footer .time{
        margin-top: 10px;
        padding-bottom: 10px;
        color:#fff;
        display: flex;
        justify-content: center;
    }
    
    .footer .time h3{
        /* line-height: 1.5rem; */
    }
    
}
